/* Mila style 

COLORS:
brand: rgb(224, 23, 107);

bg: hsl(335, 65%, 91%);
headerbg: rgb(187, 87, 128);
 hsl(335, 42%, 54%);

Light Version colors



*/

:root {
    --brand-color: hsl(335, 42%, 44%);
    --bg-color: hsl(335, 65%, 91%);

    --text-color: hsl(335, 42%, 96%);


}



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    cursor: default;
}



html {
    font-size: 125%;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Poppins', sans-serif;
}




/*//////////////////////////////////////////////////
        Header     Navbar
//////////////////////////////////////////////////*/
.header {
    background-color: var(--brand-color);
}

.headerdiv {
    background-color: var(--brand-color);
    height: 3.7rem;
    display: flex;
    align-items: center;
}

.mainnav {

}
.mainnav-ul {
    margin-left: 2rem;
    display: flex;
    gap: 2rem;

    list-style: none;
}
.mainnav-li {

}



.mainnav-a:link,
.mainnav-a:visited {
    text-decoration: none;
    font-weight: 700;
    color:     var(--text-color);

    padding: 0.3rem 1rem;
    font-size: 1rem;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.411);
}
.mainnav-a:hover,
.mainnav-a:active {
    /* border: 3px solid white; */
    box-shadow: 0 0 0 3px white;
    border-radius: 5px;
    cursor: pointer;
}

.logo-div {
    flex-basis: 3rem;
    margin-left: 3rem;
    margin-top: 1rem;
}
.headerlogo {
    width: 100%;

}



/*//////////////////////////////////////////////////
        Hero section
//////////////////////////////////////////////////*/

.hero-maindiv {
    display: grid;
    column-gap: 1rem;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background-color:var(--brand-color);
}


.hero-title-text-div {
    margin-left: 3rem;
    margin-right: 1rem;
    transform: translate(0, -1%);
}


.h1heading {
    color: var(--text-color);
    font-size: 3.2rem;
    font-weight: 800;
    line-height: 1;
    letter-spacing: -2.4px;
    margin-bottom: 2rem;
    text-shadow: -1px -1px 1px hsl(0, 0%, 0%);
}
.hero-text {
    font-size: 1rem;
    color: var(--text-color);
    /* text-shadow: -1px -1px 1px hsla(0, 0%, 0%, 0.521); */
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.411);
}


.hero-img-div {
    transform: translate(0%, 10%);
}
.heroimg {
    /* border: 30px solid rgb(187, 87, 128); */
    box-shadow: 3px 11px 0px 25px var(--brand-color);
    border-radius: 50%;

    width: 90%;
    width: 90%;
    display: bock;
}






/*//////////////////////////////////////////////////
        Medaillen
//////////////////////////////////////////////////*/











/*//////////////////////////////////////////////////
        Footer
//////////////////////////////////////////////////*/
.footer {

}

footerdiv {

}
